h1,h3,h2,h4,p{
  color: #9b2c7d;
  border-block: 20px;
  text-align: center;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #a6bdf2;
}
label{
  color: #b746ec;
}
div{
  color: #9b2c7d;
}
img src{
  appearance:width="600";
 
}
img src{
  text-align: center;
}

